<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <img class="footer-logo" src="{{url_for('static', filename='/images/logoMeraki.png')}}" alt="">
    <p class="footer-texto text-center">
      Ampliamos la frontera de la imaginacion.<br>Meraki &copy; 2024
      <div class="container autorf">
        <span class="grupo">Derechos Reservados Grupo 13</span>
      </div>
    </p>
       <!--iconos redes sociales-->
       <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
         <!--whastapp-->
          <a href="https://wa.me/5491122334455" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-whatsapp"></i>
          </a>
  
          <!--instagram-->
          <a href="https://www.instagram.com/meraki6328?igsh=eWpqb2czdmVibzJr" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
  
          <!--facebook-->
          <a href="https://www.facebook.com/profile.php?id=100059057927518&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
          </a>
  
          <!--correo-->
          <a href="mailto:meraki@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
          </a>
       </div>
  </footer>