{% include 'defaults/head.html' %}
<body>
     <!--Barra de Navegacion-->
     
     {% include 'defaults/navegacion.html' %}       

     <!--Formulario de Contacto-->
   
    <section id="contacto" class="container">
      
      <form class="form-cargar" id="form_contacto">
        <h1 style="text-align: center;">Formulario de Contacto</h1>
          <label for="nombre">Nombre completo:</label>
            <input type="text" id="nombreCt" name="nombreCont" 
            required class="contacto-input">
   
          <label for="Celular">Celular :</label>
            <input type="tel" name="celularCont" id="celularCt" pattern="[0-9]{10}" 
             title="10 Números sin guiones"  
                  required class="contacto-input">
          
          <label for="Email">Correo de contacto :</label>
            <input type="email" name="emailCont" id="emailCt" 
                   required class="contacto-input">

          <label for="Cliente">¿Es Cliente?</label>  
            <input type="checkbox" name="clienteCont" id="clienteCt"  
                   class="contacto-input"> 
                   
          <label for="Consulta">Su Consulta</label>
            <textarea name="consultaCont" id="consultaCt" 
              required class="contacto-input" rows="3" cols="30"></textarea>         
        
          <input type="submit" value="Enviar" class="btnEnviarC">
          <div>
            <label type="text" id="respuesta"></label>
        </div>
             
      </form>
    </section>
</div>
    
    <!--Footer-->
     {% include 'defaults/footer.html' %}
    <!--Scripts-->  <script src="./js/miraki.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>  