{% include 'defaults/head.html' %}
<body>
  <!--Barra de Navegacion-->
    {% include 'defaults/navegacion.html' %}        
  <!--sobre meraki-->
    <section class="sobre-meraki seccion-nosotros">
      <div class="contenedor">
        <h2 class="seccion-titulo">Quienes Somos...</h2>
         <p class="seccion-texto">
            Somos un taller joven, con gente joven, que amamos lo que hacemos.
            Que empezamos esta gran aventura porque nos dá la posibilidad de ser creativos y diseñar junto a VOS.
            Utilizamos la técnica del rayo láser. 
         </p>
          <p class="seccion-texto">
            Que nos permite ser preciso en cada corte que realizamos y lograr grabados súper originales.
            Trabajamos para que tus pedidos te lleguen en el día.
            En Servicios verás lo que hacemos.
            Nuestras Plantillas te ayudarán a diseñar tú pedido
          </p>
          
      </div>
    </section> 
  <div class="container-fluid espacio-footer">
    <h2 style="text-align: center;">Nos gustaría conocerte!!!</h2>
  </div>   

  <!--Footer-->
     {% include 'defaults/footer.html' %}
  <!--Scripts-->
    <script src="./js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>

</body>
</html>