{% include 'defaults/head.html' %}
<body>
    
    {% include 'defaults/navegacion.html' %}      
<section class="sobre-meraki seccion-nosotros">
    <section class="container">

        <h1 class=".badges-contenedor">Listado de Pedidos </h1>        

        <div class="row">
            <hr>
            {% for i in pedidos %}
              
                <div class="col-10">
                    <h2 class="h5" title="{{i[2]}}" data-bs-toggle="collapse" href="#dataCollapse{{i[0]}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{i[1]}}
                        {{i[6]}} 
                        {{i[7]}} 
                        {{i[8]}} 
                        {{i[9]}} 
                    </h2>

                     
                    <div class="collapse" id="dataCollapse{{i[0]}}">
                        <div class="row">
                            <div class="col bg-white bg-opacity-50 rounded text-dark p-2">
                                {{i[2]}}
                            </div>
                            <div class="col-3 text.right p-2">
                                 {{i[6]}} 
                            </div>
                            <div class="col-3 text.right p-2">
                                {{i[7]}} 
                           </div>                            
                            <div class="col-3 text.right p-2">
                                {{i[8]}} 
                           </div>
                        </div>

                    </div> 
                </div>
                <div class="col-2">
                    <a href="/editarPedido/{{i[0]}}" class="btn btn-white"><i class="bi bi-pencil"></i></a>
                    <a href="/borrarPedido/{{i[0]}}" class="btn btn-white"><i class="bi bi-trash-fill"></i></a>
                </div>
                <hr>
            {% endfor%}
        </div>

    </section>
</section>
{% include 'defaults/scripts.html'%}
{% include 'defaults/footer.html'%}