{% include 'defaults/head.html' %}
<body>
    <!--Barra de Navegacion-->
    {% include 'defaults/navegacion.html' %}            
    <!-- Trabajos-->
<section class="trabajos-recientes seccion-clara d-flex flex-column" >
  <h2 class="seccion-titulo texto-negro">Nuestros trabajos</h2>
  <h3 class="seccion-descripcion">todo en un solo....</h3>

  <!--Galeria de Trabajos-->
   <div class="container text-center trabajos-contenedor stock-imagenes" >
     <div class="row" >

      <!--Grabado trabajo1-->    
        <a href="compras.html?image=FelizCumple.jpg" target="_blank"   
           class="col-12 col-md-6 col-lg-6">
          <div class="trabajo">
            <img src="./images/FelizCumple.jpg" alt="feliz cumpleaños">
            <div class="overlay">
                <p>Cumple</p>                
            </div>
          </div>
        </a>

      <!--Corte trabajo 2-->
        <a href="compras.html?image=stencilalfabet.jpg"target="_blank"   
           class="col-12 col-md-6 col-lg-6">
         <div class="trabajo">
          <img src="./images/stencilalfabet.jpg" alt="STENCIL AFABET">
           <div class="overlay">
              <p>Stencil</p>
              
            </div>
        </div>
        </a>  
      
      <!--Materiales trabajo 3-->
        <a href="compras.html?image=Portaretrato.png" target="_blank"   
           class="col-12 col-md-6 col-lg-6">
         <div class="trabajo">
          <img src="./images/Portaretrato.png" alt="portaretrato">
           <div class="overlay">
              <p>Portaretrato</p>
            </div>
        </div>
        </a> 

      <!--Stock trabajo 4-->
        <a href="compras.html?image=vinoteca.png" target="_blank"   
           class="col-12 col-md-6 col-lg-6">
        <div class="trabajo">
         <img src="./images/vinoteca.png" alt="vinoteca">
          <div class="overlay">
             <p>Vinoteca</p>             
           </div>
       </div>
        </a>  

         <!--Stock trabajo 5-->
      <a href="compras.html?image=portalibro.jpg" target="_blank"   
         class="col-12 col-md-6 col-lg-6">
        <div class="trabajo">
         <img src="./images/portalibro.jpg" alt="plibro">
          <div class="overlay">
             <p>Portalibro</p> 
           </div>
       </div>
        </a>

        <!--Stock trabajo 6-->
        <a href="compras.html?image=amor.jpeg" target="_blank"   
           class="col-12 col-md-6 col-lg-6">
          <div class="trabajo">
           <img src="./images/amor.jpeg" alt="amor">
            <div class="overlay">
               <p>Amor</p>   
             </div>
          </div>
        </a>  
     </div>
   </div>  
</section>

<!--Footer-->
  {% include 'defaults/footer.html' %}
<!--Scripts-->  
  <script src="./js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>

</body>
</html>